*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


.container {
 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    padding: 25px;
    background-color: #182c61;
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: bold; 

}


h1{
font-size: 60px;
margin-left: 30px;
}




header nav ul {

    display: inline;
    list-style: none;
    padding: 40px;
 
}

header nav  li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}


#sobre-a-loja img{
    max-width: 30em;
    margin-right: 80px;
    margin-top: 24px;
    margin-left: 45px;
}


 .container-flex{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
   
}


    h2{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom:  1px solid red;
    font-size: 27px;
    padding: 10px;
    }


h3{
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom:  1px solid red;
    padding: 10px;
    font-size: 27px;

}


.lista-pet{
    margin-left: 45px;
    margin-right: 45px;
}

.lista-pet li {
    list-style: none;
    max-width: 100%;
    margin-bottom: 20px;
   
}
    
.lista-pet li img{
    float: left;
    max-width:100%;
    
}

.lista-pet li h4{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    
    
}

.lista-pet {
    display: grid;
    grid-template-columns:  repeat(4, 24.25%);
    gap: 1%;
    
   
}

     button {
        margin-top: 20px;
        font-style: italic;
        margin-bottom: 30px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #182b6177;
        margin-left: 10px;
    }

     .container-last{
         margin-top: 30px;
        padding: 10px;
        background-color: #182c61;
        color: #ecf0f1;
       }

       @media screen and (max-width:640px) {
        .lista-pet {
            display: block;
       }
       
    
       .container {
        max-width: 90%;
    }
   
    .header nav li {
        display: block;
        margin-left: 0.7em;
        margin-top: 1.2em;
    
    }
    
    .container-flex{
        display: block;
        font-size: 1.3em;
        margin-left: 1em;
        max-width: 90%;
       
    }

    h1{
        font-size: 2.2em;

    }
        header .container{
        flex-direction: column;
        display: block;
        max-width: 90%;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        padding: 1em;
        margin-left: 2.0em;
        
    }

    #sobre-a-loja img{
        flex-direction: column;
        display: block;
        max-width: 90%;
        margin-left: 0.3em;
    }
    
 }

    @media screen and (min-width: 641px) and (max-width:1023px) {
        .container {
            max-width: 100%;
    }

    .header nav li {
        display: block;
        margin-left: 0;
        
    }
    
    .lista-pet {
        grid-template-columns:  repeat(3, 25.33%);
        column-gap: 0.1%;
     
      }

      header .container{
        flex-direction: column;
       
    }

    #sobre-a-loja img{
        flex-direction: column;
        display: flex;
        max-width: 50%;
        margin-left: 0.6em;
    }


}